.pageWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #121212;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.successMessage {
    background-color: rgba(0, 255, 127, 0.1);
    color: #00ff7f;
    padding: 12px;
    border-radius: 6px;
    font-size: 0.85rem;
    text-align: center;
    border: 1px solid rgba(0, 255, 127, 0.2);
}

.errorMessage {
    background-color: rgba(255, 77, 77, 0.1);
    color: #ff4d4d;
    padding: 12px;
    border-radius: 6px;
    font-size: 0.85rem;
    text-align: center;
    border: 1px solid rgba(255, 77, 77, 0.2);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.innerIcon {
    position: absolute;
    left: 12px;
    color: #b3b3b3;
}

.inputField {
    width: 100%;
    padding: 12px 12px 12px 40px;
    background-color: #2a2a2a;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.inputField:focus {
    background-color: #333333;
    border-color: #be00b8;
    outline: none;
}

.eyeBtn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.submitBtn {
    cursor: pointer;
    width: 100%;
    padding: 14px;
    border: none;
    background-color: #be00b8;
    color: #ffffff;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    transition: transform 0.2s;
    margin-top: 10px;
}

.submitBtn:hover {
    background-color: #d400cc;
    transform: scale(1.02);
}
@media(max-width: 650px) {
    .container {
        background-color: transparent;
        padding: 20px;
    }
}