.appContainer {
    
    display: grid;
    grid-template-areas: "menu main";
    grid-template-columns: 240px 1fr; 
    height: 100vh;
    background-color: #090b0f;
    color: #fff; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.mainContent::-webkit-scrollbar{
    display: none;
}

.mainContent {
    grid-area: main;
    overflow-y: auto; 
   background-color: #090b0f;  
    position: relative;
    scrollbar-width: 0;
}
.contentPadding {
    padding: 32px 32px 100px 32px; 
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: white;
}
.miniLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  background: rgba(18, 18, 18, 0.9);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.75rem 1.25rem;
  border-radius: 99px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #0066ff;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.contentPadding {
    padding: 32px 32px 100px 32px; 
}
.header {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 32px;
  width: 100%;
}
.searchWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    position: relative;
    max-width: 450px;
    width: 100%;
}

.searchIcon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #0066ff;
    pointer-events: none;
}

.searchInput {
    width: 100%;
    padding: 12px 45px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background: white;
    color: black;
    outline: none;
}

.clearIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: #b3b3b3;
    gap: 16px;
    text-align: center;
}
.songslist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  width: 100%;
}
@media (max-width: 650px) {
    .clearIcon {
    position: absolute;
    right: 2.7rem;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
}
    .songslist {
        grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    }
    .appContainer {
    
    display: grid;
    grid-template-areas: "menu" "main";
    grid-template-rows: 60px 1fr; 
    height: 100vh;
    background-color: #090b0f; 
    color: #fff; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.menuContainer {
     grid-area: menu;
}
.mainContent {
   width: 100vw;
    grid-area: main;
    overflow-y: auto; 
    background-color: #090b0f;
}
}
.playerSafeSpace {
  height: 120px;
  width: 100%;
  pointer-events: none;
}