.searchForm {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
    margin: 1%;
}

.searchInput {
    flex-grow: 1; 
    padding: 10px 15px;
    border: 2px solid #555;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.searchInput:focus {
    border-color: rgba(190, 0, 184, 0.8);
}

.searchButton {
    padding: 10px 20px;
    background-color: rgba(190, 0, 184, 0.8);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.searchButton:hover {
    background-color: rgba(190, 0, 184, 1);
}