
.card {
  min-width: 200px;
  max-width: 250px;
  height: 300px; 
  border-radius: 12px;
  background-color: #1e1e1e;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
}

.cardImageContainer {
    width: 100%;
    height: 70%;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}
.cardImage {
    object-fit: cover;
}
.cardInfo {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.songTitle {
    font-size: 1.1rem;
    margin: 0;
    text-align: center;
}

.artistName {
    font-size: 0.9rem;
    color: #bbb;
    margin: 5px 0 0 0;
    text-align: center;
}

@media (min-width: 600px) {
  .card {
    max-width: 300px;
    height: 350px;
  }
}