.appContainer {
    
    display: grid;
    grid-template-areas: "menu main";
    grid-template-columns: 230px 1fr; 
    height: 100vh;
    background-color: #000; 
    color: #fff; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.header {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  padding: 32px;
  background: linear-gradient(to bottom, #e200ad, #121212);
}
.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: white;
}
.coverArt {
  width: 240px;
  height: 240px;
  background: linear-gradient(to bottom, #d11683, #540c38);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
}
.songslist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  width: 100%;
}
@media (max-width: 650px) {
    .songslist {
        grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    }
    .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
  }

  .coverArt {
    width: 160px; 
    height: 160px;
  }

  .title {
    font-size: 2rem; 
    margin-bottom: 8px;
  }
 .appContainer {
    
    display: grid;
    grid-template-areas: "menu" "main";
    grid-template-rows: 60px 1fr; 
    height: 100vh;
    background-color: #000; 
    color: #fff; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.menuContainer {
     grid-area: menu;
}
.mainContent {
   width: 100vw;
    grid-area: main;
    overflow-y: auto; 
    background: linear-gradient(to bottom, #1d1d1d, #121212); 
    
}
}

.mainContent::-webkit-scrollbar{
    display: none;
}
.miniLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  background: rgba(18, 18, 18, 0.9);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.75rem 1.25rem;
  border-radius: 99px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ff0073;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.mainContent {
    grid-area: main;
    overflow-y: auto; 
    background: linear-gradient(to bottom, #1d1d1d, #121212); 
    position: relative;
    scrollbar-width: 0;
}
.contentPadding {
    padding: 32px 32px 100px 32px; 
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: white;
}