.layout {
  display: flex;
  height: 100vh;
}

.content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;}
.songList {
  margin-top:5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 10px;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1c1c1c;
  width: 100%;
  z-index: 100;
}
@media (max-width: 600px) {
    .songList {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        justify-items: center;
    }
}