.loginContainer {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 400px;
    padding: 30px; 
    background-color: #1c1c1c; 
    border-radius: 12px;
    border: 1px solid rgb(190, 0, 184); 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.formTitle {
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;    
}

.inputField {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    display: block;
    border: 1px solid #444444;
    color: #000000;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}
.inputField:focus {
    border-color: rgb(190, 0, 184); 
    outline: none;
    box-shadow: 0 0 0 2px rgba(190, 0, 184, 0.4);
}

.formLink{
    display: block;
    width: 100%;
    border: 1px solid rgb(190, 0, 184);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none; 
}
.formLink:hover{
    background-color: rgb(190, 0, 184); 
    color: #ffffff;
    border-color: rgb(190, 0, 184);
}

.submitBtn{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid rgb(190, 0, 184);
    color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    font-weight: 600;
}
.submitBtn:hover {
    background-color: rgb(190, 0, 184); 
    color: #ffffff;
}
@media (min-width: 250px) {
  .loginContainer {
     width: 80%;
    border-radius: 16px;
  }
}
@media (min-width: 700px) {
  .loginContainer {
    border-radius: 16px;
    max-width: 500px;
  }
}